.image-upload-widget-modal.modal .cropper-wrapper {
    height: 450px;
    padding: 7px;
    background-color: #676767;
}



.image-upload-widget {
    border: 2px dashed #d3d2d2;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
}



.image-upload-widget  .uploaded-image-container {
    min-height: 50px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px 0 #999999;
    background-color: #ffffff;
    border-radius: 3px;
}

.image-upload-widget .uploaded-image-container .uploaded-image-preview {
    padding: 7px;
    text-align: center;
}

.image-upload-widget .uploaded-image-container img {
    max-width: 100%;
}

.image-upload-widget .uploaded-image-container .uploaded-image-toolbar {
    border-radius: 0 0 3px 3px;
    background-color: #fcfcfc;
    padding: 10px 15px 15px 15px;
}

.image-upload-widget .uploaded-image-container .uploaded-image-toolbar .edit {
    float: left;
}

.image-upload-widget .uploaded-image-container .uploaded-image-toolbar .remove {
    float: right;
}

.image-upload-widget .uploaded-image-container .uploaded-image-toolbar .edit,
.image-upload-widget .uploaded-image-container .uploaded-image-toolbar .remove {
    color: #BDC3C5;
    cursor: pointer;
}

.image-upload-widget .uploaded-image-container .uploaded-image-toolbar .edit:hover,
.image-upload-widget .uploaded-image-container .uploaded-image-toolbar .remove:hover {
    color: #606B6F;
}

.image-upload-widget .image-upload-tools {
    text-align: center;
    font-size: 120%;
    color: #d3d2d2;
}

.image-upload-widget span.image-upload-tools-clickable {
    cursor: pointer;
}
.image-upload-widget span.image-upload-tools-clickable:hover {
    color: #337ab7;
    text-decoration: underline;
}

.has-error .image-upload-widget {
    border-color: #a94442;
}